<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of workers: </h1>

    {%for x in data%}
    <h2>Worker {{forloop.counter}}</h2>

    Name: {{x.second_name}} {{x.name}}
    <br>

    Salary: 
    {% if x.salary > 40000 %}
    <b style="color:blue;"> {{x.salary}} </b>
    {% else %}
    <b style="color:red;"> {{x.salary}} </b>
    {%endif%}
    <br>

    {%endfor%}

</body>
</html>